body {
	margin: 0px;
	background-color: transparent;
}

div#marquee_host {
	width: 100%;
	height: 10%;
	background-color: inherit;
}

marquee {
	color: red;
	background-color: transparent;
	font-family: verdana;
	font-size: 1em;
	scrollamount: 2;
}