<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery-2.1.1.min.js"></script>
	<script src="/static/jquery.vticker.min.js"></script>
	<script>
		$(function() {
  $('#example').vTicker();
});
	</script>
</head>
<body>
	<div id="example">
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
			<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</li>
			<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</li>
		</ul>
	</div>
</body>
</html>