<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Title of the document</title>
		<style>
			.demo {
				width: 400px;
				float: right;
			}
			.demo > h3 {
				color:#fff;	
			}
			.fade,.slide {
			    background: none repeat scroll 0 0 #3B8ED3;
			    color: #FFFFFF;
			    font-size: 13px;
			    padding: 10px;
			}
			.fade > li,.slide > li,.typing > li {
			    list-style: none inside none;
			}
			.demo > h3 {
			    color: #23669E;
			    font-size: 15px;
				padding-left:1px;
			}

		</style>
	</head>

<body>
	<aside class='demo'>
	<ul class='slide'>
		<li>Hello</li>
        <li>I am mahdi khaksar from iran</li>
        <li>I am designer and programmer at progpars.com </li>
        <li>www.ijquery.ir</li>	
	</ul>
	</aside>

	<script type="text/javascript" src='../static/inewsticker.js'></script>
	<script type="text/javascript" src='../static/jquery.js'></script>
	<script>
		window.onload = (function() {
		    $('.slide').inewsticker({
				speed       : 2500,
				effect      : 'slide',
				dir         : 'ltr',
				font_size   : 13,
				color       : '#fff',
				font_family : 'arial',
				delay_after : 1000						
			});
		});
	</script>

</body>

</html>
