<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Title of the document</title>
		<link rel="stylesheet" href="/static/style.css">
		<script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/static/temp.js"></script>
	</head>

<body>

	<div id='marquee_host'>
		<marquee id='marquee' scrollamount='6'>day la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von. day lai la mot cai string dai von.</marquee>
	</div>

</body>

</html>
